apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-dfdcifnl
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-dfdcifnl:41ef3fed04c4d532160ffbde4a1357e7744c4ec7@sha256:9454451e487ab192f1e3b5a0435a00e3df969ba8cdd6d98f6fb67bf605de1886
        name: container-image  
